/* General styles */
*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: 'Playfair Display', serif;
}
/* font-family: 'Montserrat', sans-serif;
font-family: 'Playfair Display', serif; */


body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    text-align: center;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #343a40, #2b2c31, #211f22, #151314, #000000);
    
}

    /* padding: 10rem; */

.container{
    color:#EBEBE3;
    /*width: 100%;
    height : 100%;*/
    background-color: #4A4A48;
    margin: 0 0 0 0;
    border-radius: 1rem;
    padding: 3rem;
}
.header{
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    color: #C19898;
    font-weight: 900;
    margin: 1rem;
    /* border-style: solid; */
}
.main-content{
    width: 100%;
    padding: 1rem;

}

.main-content .text-area{
    margin:1rem;
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
}

.main-content .person{
    margin:1rem;
    font-size: 1.1rem;
    color: #EBEBE3;
    font-style: bold;
    font-weight: 700;
    text-transform: uppercase;
}

.button-area button{
    background-color: #8C9C83;
    width: 10vw;
    height: 3vw;
    border-radius: 10rem;
    margin-top: 3rem;

}


.button-area button:hover {
    background-color: #AEAC9A;
}